
  <div class="container-fluid pt-3">
    <div class="row removable">
      <iframe
        src="https://soxfort.com/learn"
        width="1920"
        height="1080"
      ></iframe>
    </div>
  </div>
