<section class="">
    <div
      class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg"
      style="background-image: url('/img/books.jpg')"
    >
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto">
            <h1 class="text-white mb-2 mt-5">Email Sent!</h1>
			            
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n12 mt-n11">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
          <div class="card z-index-0">
            <div class="card-header text-center pt-4"></div>
            <div>
              <img
                src="/img/logo.png"
                alt="NUST Logo"
                width="96"
                height="122"
                style="display: block; margin: auto"
              />
            </div>
            <div class="card-body">
              <form>
             <p style="text-align: center;"> A password reset email has been sent to your registered email address. Please check your inbox and follow the instructions.</p>
<div>
               <img src="/img/sent.png" alt="email sent" width="96"
               height="96"
               style="display: block; margin: auto"></div>
                <br></br>
              </form>
             
            </div>
          </div>
        </div>
      </div>
      <br /><br />
    </div>
  </section>