<div class="container">
    <h1 class="mt-4">Search Results</h1>
    <input type="text" id="searchInput" class="form-control search-input" placeholder="Search...">
    <div class="row mt-4" id="resultsContainer">
      <!-- Sample list of results -->
      <% for (let dat of results) { %>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><%= dat.title %>  <i class="fa fa-balance-scale text-primary text-lg"></i
                  ></h3>
              <a href='<%= dat.url %>'><p class="card-text"><%= dat.link %></p></a>
             
            </div>
          </div>
        </div>
        <% } %>
    </div>
  </div> 